* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#month-calendar {
    width: 100%;
}

.month {
    margin: 0;
    padding: 3rem 2rem 2rem;
    background: #0D8BD9;
    text-align: center;
    width: 100%;
    color: #ffffff;
    list-style: none;
}

.month li {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.month li.prev,
.month li.next {
    cursor: pointer;
}

.month li.prev {
    float: left;
}

.month li.next {
    float: right;
}

.month li.year-name{
    font-size: 1.2rem;
    font-weight: 400;
}

/* дни недели */

.weekdays {
    margin: 0;
    padding: 1rem 0;
    background-color: #dddddd;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

.weekdays li {
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
}

/* дни */

.days {
    margin: 0;
    background-color: #eeeeee;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

.days li {
    padding: 50px;
    list-style: none;
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
    color: #999;
    font-size: 2.9rem;
    line-height: 1rem;
}

.days li.date-now {
    color: #000;
    font-weight: 700;
    border: 1px solid red;
}